/// Material Design Icons Map
/// @access public
$MD-Social-Icons: (
        dropbox: "\e900",
        facebook: "\e901",
        google: "\e902",
        instagram: "\e903",
        pinterest: "\e904",
        twitter: "\e905"
);